
<app-auth-content>
    <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i>เพิ่มฟาร์ม</h1>
      
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Blank Page</a></li>
        </ul>
      </div>
        <!-- ส่วนฟอร์ม -->
        <div class="row">
            <div class="col-md-12">
              <div class="tile">
        <div class="tile-body">
            <form (ngSubmit)="addDetailFarm(detailFarm)" #detailFarm="ngForm">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <img src="assets/image/user.png" class="img-fluid img-thumbnail">
                        </div>
                        <div class="form-group">
                            <input type="file">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="farmOwner">เจ้าของฟาร์ม</label>
                            <input class = "form-control" type="text" name="farmOwner" ngModel [(ngModel)]="detailFarm.farmOwner">
                        </div>
                        <div class="form-group">
                            <label for="farmname">ชื่อฟาร์ม</label>
                            <input class = "form-control" type="text" name="farmname" ngModel [(ngModel)]="detailFarm.farmname">
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="dateGrowth">วันที่เริ่มปลูก</label>
                                    <input  type="text" placeholder="วันที่เริ่มปลูก" class="form-control" bsDatepicker 
                                    [bsConfig]="{ adaptivePosition: true }"  name="dateGrowth" ngModel [(ngModel)]="detailFarm.dateGrowth">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="subdistrict">ตำบล</label>
                                    <input class = "form-control" type="text" name="subdistrict" ngModel [(ngModel)]="detailFarm.subdistrict">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="district">อำเภอ</label>
                                    <input class = "form-control" type="text" name="district" ngModel [(ngModel)]="detailFarm.district">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" >
                                    <label for="province">จังหวัด</label>
                                    <select class = "form-control" id="subDistrictThai" (change)="findSubDistricts($event)">
                                        <option *ngIf = "subDisShow == null"></option>
                                        <option *ngFor="let disshow of disShow" value={{disshow.DISTRICT_ID}} >{{disshow.DISTRICT_NAME}}</option>
                                      </select>
                                        <!-- <input class = "form-control" type="text" name="province" ngModel [(ngModel)]="detailFarm.province"> -->
                                      

                                   
                                </div>
                            </div>
                           
                          
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="size">ขนาดฟาร์ม</label>
                                    <input class = "form-control" type="text" name="size" ngModel [(ngModel)]="detailFarm.size">
                                </div>
                            </div>
                           
                          
                        </div>

                    </div>
                </div>

                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> บันทึกข้อมูลโปรไฟล์
                    </button>
                </div>
            </form>
        </div>
    </div>
     
</div>
     
</div>
     
     
</app-auth-content>

