<app-auth-content>
    <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i>Upload Image</h1>
    
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Blank Page</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="card" >
                <div class="card-body">
                  <form (ngSubmit)="addDetailImg(detailImg)" #detailImg="ngForm">
                    <div class="text-center">
                      <img [src]="imgSrc" width="350px" height="250px" >
                    </div>
                  
                  
             
                    <div class="row">
                        <div class="col-12 table-responsive">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                               
                               
                                <th>ชื่อ-นามสกุล</th>
                                <th>ชื่อผู้ใช้</th>
                                <th>อีเมลล์</th>
                                <th>เบอร์โทร</th>
                                <th>อายุ</th>
                               
                                <th>จัดการ</th>
                                <!-- <th>Description</th>
                                <th>Subtotal</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of DetailUser">
                                  
                              
                              <td>{{data.value.name}}  {{data.value.lastname}}</td>
                              <td>{{data.value.username}}</td>
                              <td>{{data.value.email}}</td>
                              <td>{{data.value.phone}}</td>
                              <td>{{data.value.age}}</td>
                              <td>
                                <button type="button" (click)="editDetailUser(data)" >Edit</button>
                                  <button type="button" (click)="delDetailUser(data)" >Delete</button>
                               </td>
                
                              </tr>
                              </tbody>
                          </table>
                        </div>
                      </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</app-auth-content>
