 <!-- Sidebar menu-->
 <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
 <aside class="app-sidebar"  >
   <div *ngIf="UserLogin" class="app-sidebar__user">
    <img *ngIf="UserLogin.img" class="app-sidebar__user-avatar" [src]="UserLogin.img" alt="User Image">
    <img *ngIf="!UserLogin.img" class="app-sidebar__user-avatar" src="assets/image/user.png" alt="User Image">
     <div>
       <p class="app-sidebar__user-name">
        {{ UserLogin.username }}  <br> {{ UserLogin.email }} 

       </p>
       <p class="app-sidebar__user-designation">
        {{ UserLogin.position }}
       </p>
     </div>
   </div>
   <ul class="app-menu">
    <li class="treeview" routerLinkActive = "is-expanded"><a class="app-menu__item" href="#" data-toggle="treeview" ><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">สมาชิก</span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <li><a class="treeview-item" [routerLink]="['/',AppURL.Authen,AuthURL.MemberList]" routerLinkActive="active"><i class="icon fa fa-circle-o"></i>รายการสมาชิก</a></li>
        <li><a class="treeview-item" [routerLink]="['/',AppURL.Authen,AuthURL.CreateMember]" routerLinkActive="active"><i class="icon fa fa-circle-o"></i>เพิ่มสมาชิก</a></li>
      </ul>
    </li>

    <li class="treeview" routerLinkActive = "is-expanded"><a class="app-menu__item" href="#" data-toggle="treeview" >
      <i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">ฟาร์ม</span>
      <i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <li><a class="treeview-item" [routerLink]="['/',AppURL.Authen,AuthURL.FarmList]" routerLinkActive="active"><i class="icon fa fa-circle-o"></i>รายการฟาร์ม</a></li>
        <li><a class="treeview-item" [routerLink]="['/',AppURL.Authen,AuthURL.FarmCreate]" routerLinkActive="active"><i class="icon fa fa-circle-o"></i>เพิ่มฟาร์ม</a></li>
      </ul>
    </li>
    
     <li><a class="app-menu__item" [routerLink]="['/',AppURL.Authen,AuthURL.Upload]" routerLinkActive="active">
      <i class="app-menu__icon fa fa-laptop"></i>
      <span class="app-menu__label">อัพโหลดรูปภาพ</span></a>
    </li>

     <!-- <li><a class="app-menu__item" [routerLink]="['/',AppURL.Authen,AuthURL.Download]" routerLinkActive="active" >
      <i class="app-menu__icon fa fa-pie-chart"></i>
      <span class="app-menu__label">ฟาร์ม</span></a>
    </li> -->

  

     <li><a class="app-menu__item" [routerLink]="['/',AppURL.Authen,AuthURL.Processing]" routerLinkActive="active">
      <i class="app-menu__icon fa fa-edit"></i>
      <span class="app-menu__label">ประมวลผลภาพ</span></a>
      </li>

     <li><a class="app-menu__item " [routerLink]="['/',AppURL.Authen,AuthURL.Dashboard]" routerLinkActive="active">
      <i class="app-menu__icon fa fa-dashboard"></i>
      <span class="app-menu__label">รายงานผลผลิต</span></a>
    </li>

    <li><a class="app-menu__item " [routerLink]="['/',AppURL.Authen,AuthURL.TestFire]" routerLinkActive="active">
      <i class="app-menu__icon fa fa-dashboard"></i>
      <span class="app-menu__label">TestFire</span></a>
    </li>

    <li><a class="app-menu__item " [routerLink]="['/',AppURL.Authen,AuthURL.TestData]" routerLinkActive="active">
      <i class="app-menu__icon fa fa-dashboard"></i>
      <span class="app-menu__label">TestData</span></a>
    </li>
    
    
   </ul>
 </aside>
