<app-auth-content>
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i>ผลผลิต</h1>
      <p>Start a beautiful journey here</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Blank Page</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
     <!-- ส่วนฟอร์ม -->
     <div class="tile-body">
      <form action="">
          <div class="row">
            <div class="col-md-6">
            <h3 class="tile-title">รายงานผลผลิต</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
            </div>
            </div>
            <div class="row">
              <div class="col-12 table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <!-- <th>Action</th> -->
                      <th>ระยะเวลาในการปลูก(เดือน)</th>
                      <th>เปอร์เซ็นต์(สีเขียวของใบ)</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    <!-- <tr *ngFor="let data of DetailProcess"> -->
                        <!-- <td>
                          <button type="button" (click)="editDetailUser(data)" >Edit</button>
                            <button type="button" (click)="delDetailUser(data)" >Delete</button>
                         </td> -->
                    <td>1</td>
                    <td>20</td>
                  
      
                    </tr>
                    <tr>
                      <td>2</td>
                    <td>30.33</td>
                    </tr>
                    <tr>
                      <td>3</td>
                    <td>50.63</td>
                    </tr>

                    </tbody>
                </table>
              </div>
            </div>
          </div>

      </form>
  </div>
        </div>
      </div>
    </div>
  </div>
   
      <!-- <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Monthly Sales</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
            </div>
          </div>
        </div>
      
      </div>
     -->

   
</app-auth-content>
 
